html{
	font-size:20px;
	background-color:#cccccc;
}

body{
	width:600px;
	margin:0 auto;
	background-color:#ffffff;
	padding:0 20px 20px 20px;
	border:5px solid black;
}

h1{
	color:#bf90f0;
	font-size:50px;
	text-align:center;
	margin:0 0 -100px 200px;
	padding:20px 0;
	text-shadow:3px 3px 1px black;
	width:400px
}

#miki2{
	display:block;
	margin:0 auto;
	width:450px;
}

#miki1{
	display:block;
	margin:0 auto 10px 0;
}

p,li{
	font-size:20px;
	line-height:1.5;
	letter-spacing:1px;
}